{% extends 'layout.html' %}
{% load static %}

{% block title %}
  Generate URL
{% endblock title %}

{% block body %}
<body class="text-center">
<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>Создать краткий URL</h2>
      <p class="lead"></p>
    </div>

    <div class="text-center">
      
      <div>
        <form class="needs-validation" method="post">
          {% csrf_token %}
          <div class="row g-3">
            <div class="col-12">
              <label for="address" class="form-label">URL</label>
              <input name="url" type="text" class="form-control" id="address" placeholder="http://somesite.com" required>
              <div>
                {{ error }}
              </div>
            </div>
          </div>
          <div>
            <a href="{{ generated_url }}">{{ generated_url }}</a>
          </div>
          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Сократить</button>
        </form>
        
      </div>
    </div>
  </main>

</div>
  <script src="https://getbootstrap.com/docs/5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

{% endblock body %}
