{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block head %}{% endblock head %}
</head>
<body class="text-center">
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
            {% if user.is_authenticated %}
            <li class="nav-item"><a href="/url/" class="nav-link active" aria-current="page">Сгенерировать URL</a></li>
            <li class="nav-item"><a href="/show-url/" class="nav-link">Просмотр URL</a></li>
            {% else %}
            <li class="nav-item"><a href="/sign-up/" class="nav-link active" aria-current="page">Зарегистрироваться</a></li>
            <li class="nav-item"><a href="/login/" class="nav-link">Зайти</a></li>
            {% endif %}
          </ul>
        </header>
      </div>
      
    <div class="b-example-divider"></div>
    <div class="container">
      {% block body %}
      {% endblock body %}
    </div>
</body>
    <script src="https://getbootstrap.com/docs/5.2/dist/js/bootstrap.bundle.min.js"></script>
</html>